:root {
  --myblue: #033373;
  --mylight: #17b8da;
  --mywhite: white;
  --mylightblue :#03347310;
  --mydoctorblue :#03347377;
  --transition: 0.3s ease-in-out ;
  --animation: left_right 2s ease-in-out;
  --bottom_up: bottomUp 2s ease-in-out forwards;
  --left_right: left_right 2s ease-in-out forwards;
}


*{
box-sizing: border-box;
margin: 0px;
  padding: 0px;
}


@keyframes bottomUp{
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.app_top{
margin-top: 100px;
color: var(--myblue);
}

.app_top h3 {
  color: var(--mylight);
  animation: var(--bottom_up);

}

/* .container {
  justify-content: center;
  align-items: center;
} */


.card {
  perspective: 1000px; 
}


.zoom-card:hover .card-img-top {
  transform: scale(1.1); /* Zoom in on image hover */
}

.card-img-top {
  transition: transform 0.3s ease-in-out; /* Smooth transition on zoom */
  border-radius: 8px;
  border: none;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--mydoctorblue); /* Semi-transparent overlay */
  color: white;
  opacity: 0; /* Initially hide the overlay */
  transition: opacity 0.3s ease-in-out; /* Smooth transition on hover */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
}

.zoom-card:hover .card-overlay {
  opacity: 1; /* Show the overlay on hover */
}

.card-overlay h5,
.card-overlay p {
  margin: 0;
  padding: 10px; 

}


.profile-info {
  margin-top: 75%;
  color: var(--mywhite);
}

.profile-title{
  font-size: 30px;

}

.media-options {
  display: flex; 
  text-align: center;
  transition: var(--transition);
  }

.media-options a {
  color: var(--mywhite);
  margin-bottom: 10px;
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
  transform: scale(1);
}


.media-options a:hover {
transform: scale(1.3);
transition: var(--transition);
}